@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/metricas.css);
@import url(styles/vagas.css);
@import url(styles/depoimentos.css);
:root{
    --azul:#3A404E;
    --cinza:#667085;
    --vermelho:#8E2424;
    --branco:#ffff;
    --preto:#101828;
    --font-banner:"Inter", sans-serif;
    --cor-titulo-vagas:rgba(16, 24, 40, 1);
    --cor-texto-vagas:rgba(102, 112, 133, 1);
    --cor-bordas-vagas:rgba(234, 236, 240, 1);
    
}



